@* @page "/categories"


<!-- Шапка -->
<header class="bg-dark text-white py-4">
    <div class="container">
        <h1 class="text-center">Каталог фильмов</h1>
        <form class="d-flex mt-3">
            <input class="form-control me-2" type="search" placeholder="Поиск фильма" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Найти</button>
        </form>
    </div>
</header>

<!-- Основной контент -->
<div class="container my-4">
    <div class="row">
        <!-- Фильтры -->
        <div class="col-md-3">
            <h4>Категории</h4>
            <ul class="list-group">
                <li class="list-group-item">Все фильмы</li>
                <li class="list-group-item">Комедии</li>
                <li class="list-group-item">Драмы</li>
                <li class="list-group-item">Боевики</li>
                <li class="list-group-item">Фантастика</li>
                <li class="list-group-item">Ужасы</li>
            </ul>
        </div>

        <!-- Сетка фильмов -->
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Карточка фильма -->
                <div class="col">
                    <div class="card movie-card">
                        <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="Название фильма">
                        <div class="card-body">
                            <h5 class="card-title">Название фильма</h5>
                            <p class="card-text">Краткое описание фильма. Год выпуска, режиссер и т.д.</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Подвал -->
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p> 2024 Каталог фильмов. Все права защищены.</p>
    </div>
</footer> *@